<div style="background: lightgrey; width: 300px; padding: 10px;">

  <%= turbo_frame_tag dom_id(post) do %>
    <%= post.body %><br>
    <%= post.likes %>
  <br>
    <%= link_to :edit, edit_post_path(post) %>
  <% end %>


  <%#= button_to "likes (#{post.likes || 0})", post_path(post, like: true), method: :put %>
</div>
<br>